#content-strip {
    /*For Hero: padding-top: 0;*/
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 300px auto;
    grid-template-areas: "a a" "b c";
    gap: 20px;
}

@media screen and (max-width: 980px /*MAX-MOBILE*/) {
    #content-strip {
        gap: 10px;
    }
}

#content-strip-left, #content-strip-right {
    display: grid;
    gap: 10px;
}

#content-strip-right {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "a a" "b c";
}

@media screen and (max-width: 980px /*MAX-MOBILE*/) {
    #content-strip {
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b" "c";
    }
    #content-strip-right {
        grid-template-columns: 1fr;
        grid-template-areas: "a" "b" "c";
    }
}

#content-strip * {
    background-color: aliceblue;
}

#content-strip * * {
    background-color: aqua;
}