
#product-strip {
    --product-padding: 50px;
    background-color: aqua;
    width: min(90vw, 1000px);
    margin-inline: auto;
    padding: var(--product-padding);
}

#product-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--product-padding));
}

#product-img {
    background-color: white;
}

#product-top,
#product-desc,
#product-review {
    margin-bottom: var(--product-padding);
}


#product-review {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review {
    background-color: aquamarine;
}

.review div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}