
* {
    padding: 0;
    margin: 0;
}

:root {
    --nav-height: 75px;
    --content-width: min(90vw, 1200px);
    --content-margin: 50px;
    --content-padding: 30px;
}



/* Header Items */

header {
    display: border-box;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: max-content;
    background-color: aqua;
}

header section {
    display: flex;
    flex-direction: row;

    width: var(--content-width);
    margin-inline: auto;

}

header a {
    color: aliceblue;
    display: block;
    /* background-color: aliceblue; */
    padding: 10px;
}

#nav-menu {
    display: flex;
    margin-left: auto;
    /* max-width: var(--content-width); */
    flex-direction: row;
}

header input {
    display: none;
}

#nav-barrier {
    display: none;
}

@media screen and (max-width: 980px /*MAX-MOBILE*/) {
    header input {
        display: block;
        z-index: 5;
        margin-left: auto;
    }
    #nav-barrier {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(24, 48, 109, 0.9);
        top: 0;
        right: -100%;
        z-index: 1;
        transition: right 0.25s;
    }
    #nav-menu {
        transition: right 0.25s;
        
        flex-direction: column;
        z-index: 2;
        gap: 10px;
        right: -50%;
        position: fixed;
        top: var(--nav-height);

        border-right: 5px solid blue;
    }
    #nav-menu a {
        text-align: right;
        text-decoration: none;
        padding: 0;
        padding-right: 10px;
    }
    header input:checked ~ #nav-menu {
        right: calc((100vw - var(--content-width)) / 2);
    }
    header input:checked ~ #nav-barrier {
        right: 0;
    }
}



#content-strip {
    max-width: var(--content-width);
    margin-top: calc(var(--nav-height) + 25px);
    margin-bottom: var(--content-margin);
    padding-top: var(--content-padding);
    padding-bottom: var(--content-padding);
    overflow: hidden;
    border-radius: 25px;
    min-height: 100vh;
    margin-inline: auto;
    background-color: rgba(127, 255, 212, 0.178);
    backdrop-filter: blur(2px);
    border: solid 2px;
    border-color: white rgb(173, 173, 173) rgb(173, 173, 173) white;
    
}

body {
    background-image: url('Untitled.jpg');
    background-size: 500px;
}

footer {
    height: 100px;
    width: 100vw;

    background-color: rgb(0, 183, 255);
}

footer div {
    width: var(--content-width);
    margin-inline: auto;
    padding-top: 15px;
}

footer p {
    width: fit-content;
    margin-inline: auto;
}