
* {
    padding: 0;
    margin: 0;
}

:root {
    --nav-height: 50px;
    --nav-search-height: 1.5rem;
    --footer-height: 100px;

    --content-width: min(90vw, 1200px);
    --content-margin: 25px;
    --content-padding: 30px;

    --color-light-1: #ffffff;
    --color-light-2: #dbb7e1;
    --color-dark-1: #251b66;

    background-color: var(--color-light-2);
}



/* Header Items */

nav {
    display: border-box;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: max-content;
    background-color: var(--color-dark-1);
}

nav section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: var(--content-width);
    height: var(--nav-height);
    margin-inline: auto;

}

nav a {
    color: var(--color-light-2);
    /* display: block; */
    text-decoration: none;
}

nav a:hover {
    color: var(--color-light-1);
}

#nav-toggle {
    display: none;
}

#nav-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: auto;
    /* max-width: var(--content-width); */
    flex-direction: row;
    gap: 15px;
}

#nav-search {
    height: var(--nav-search-height);
    background-color: var(--color-light-2);
    color: var(--color-dark-1);
    border: none;
    padding-inline: 10px;
}
#nav-search:focus {
    border: none;
    outline: none;
}
#nav-search::placeholder {
    color: var(--color-dark-1);
}

#nav-barrier {
    display: none;
}

@media screen and (max-width: 500px /*MAX-MOBILE*/) {
    * {
        --nav-gap: 1rem;
    }
    #nav-toggle {
        display: block;
        z-index: 5;
        margin-left: auto;
    }
    #nav-barrier {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-dark-1);
        top: 0;
        right: -100%;
        z-index: 1;
        transition: right 0.25s;
    }
    #nav-menu {
        transition: right 0.25s;
        
        flex-direction: column;
        z-index: 2;
        gap: 10px;
        right: -100%;
        position: fixed;
        top: calc(2*var(--nav-gap) + var(--nav-search-height) + var(--nav-height));

        border-right: 5px solid blue;
    }
    #nav-menu a {
        text-align: right;
        text-decoration: none;
        padding: 0;
        padding-right: 10px;
    }
    #nav-search {
        transition: right 0.25s;
        z-index: 2;
        right: -100%;
        top: calc(var(--nav-gap) + var(--nav-height));
        position: fixed;
    }

    #nav-toggle:checked ~ #nav-menu {
        right: calc((100vw - var(--content-width)) / 2);
    }
    #nav-toggle:checked ~ #nav-barrier {
        right: 0;
    }
    #nav-toggle:checked ~ #nav-search {
        right: calc((100vw - var(--content-width)) / 2);
    }
}



#content-strip {
    max-width: var(--content-width);
    margin-top: calc(var(--nav-height) + var(--content-margin));
    margin-bottom: var(--content-margin);
    margin-inline: auto;
    padding-top: var(--content-padding);
    padding-bottom: var(--content-padding);
    overflow: hidden;
    /* border-radius: 25px; */
    min-height: calc(100dvh - (var(--nav-height) + var(--content-margin) * 2 + var(--footer-height)));
    /* margin-inline: auto;
    background-color: rgba(127, 255, 212, 0.178);
    backdrop-filter: blur(2px);
    border: solid 2px;
    border-color: white rgb(173, 173, 173) rgb(173, 173, 173) white; */
    
}

body {
    background-size: 500px;
}

footer {
    height: var(--footer-height);
    width: 100vw;

    background-color: var(--color-dark-1);
}

footer div {
    width: var(--content-width);
    margin-inline: auto;
    padding-top: 15px;
    color: var(--color-light-2);
}

footer p {
    width: fit-content;
    margin-inline: auto;
}