/* 
DON'T ACTUALLY USE THIS FILE!!!
Copy colors and make variables in * under main.css
*/

* {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #ab5fba;
    --clr-primary-a10: #b571c2;
    --clr-primary-a20: #bf83ca;
    --clr-primary-a30: #c994d1;
    --clr-primary-a40: #d2a6d9;
    --clr-primary-a50: #dbb7e1;

    /** Theme surface colors */
    --clr-surface-a0: #251b66;
    --clr-surface-a10: #3f3176;
    --clr-surface-a20: #574787;
    --clr-surface-a30: #6e5f98;
    --clr-surface-a40: #8578a8;
    --clr-surface-a50: #9d92b9;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #33216e;
    --clr-surface-tonal-a10: #4a377e;
    --clr-surface-tonal-a20: #614d8d;
    --clr-surface-tonal-a30: #77649d;
    --clr-surface-tonal-a40: #8d7cad;
    --clr-surface-tonal-a50: #a395bd;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}

/** Examples */
.bg-primary {
 color: var(--clr-primary-a50);
 background-color: var(--clr-surface-a0);
}
