:root {
    --img-radius: 25px;
}

#admin-strip {
    width: min(1000px, 90vw);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#admin-strip-header {
    color: var(--clr-light-a0);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-strip-header h1, #admin-strip-header p {
    width: 100%;
    text-align: center;
}

#admin-strip-header a {

    width: min(100%, 250px);
}

#admin-strip-header img {
    width: 100%;
    margin-inline: auto;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

    --card-height: 300px;
    --card-title-height: 50px;
}

.product-card {
    position: relative;
    flex-basis: calc(33% - 10px);
    width: var(--card-height);
    aspect-ratio: 4/3;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .product-card {
        flex-basis: 100%;
        width: 100%;
    }
}

.product-card a {
    text-decoration: none;
    color: var(--clr-dark-a0);
}

.product-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-title {
    height: var(--card-title-height);
    /* overflow: hidden; */
    /* background-color: aqua; */
}
.product-title h3 {
    line-height: 0;
    padding-top: 0;
    font-size: 1rem;
}
.product-title p {
    font-size: .75rem;
    line-height: 0.25rem;
}

/* .product-price {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
} */

.product-desc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(100% - var(--card-title-height));
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.582);
    backdrop-filter: blur(5px);
    transition: top 0.5s;

    padding: 5px;
}

.product-card:hover .product-desc {
    top: 0;
}

.product-cart {
    width: var(--card-title-height);
    height: var(--card-title-height);
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-image: url('{{}}');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--clr-primary-a0);
    border-radius: 100%;
    z-index: 3;
}

.product-cart:hover {
    background-color: var(--clr-primary-a50);
    background-image: url('../img/assets/icon_cart_add.svg');
}

.product-featured::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--clr-dark-a0);

    /* background-image: url('../img/assets/sticker_product_featured.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */

    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;

    /* mask-image: url('../img/assets/sticker_product_featured.png');
    -webkit-mask-image: url('../img/assets/sticker_product_featured.png'); */
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}
