* {
    --padding-vertical: 50px;
}
section {
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
    width: min(750px, 90vw);
    margin-inline: auto;
}

h1, p {
    text-align: center;
    color: var(--clr-light-a0);
}

iframe {
    width: 100%;
    min-height: 75vh;
    border: none;
    border-radius: 1rem;
    background-color: var(--clr-primary-a50);
}
#genie-icon{
    position: fixed !important;
    right: 16px !important;
    bottom: 16px !important;
    width: 56px !important;
    height: 56px !important;
    z-index: 2147483647 !important;
    display: block !important;
    overflow: hidden !important;
}
#genie-icon img{
    display: block !important;
    width: 100% !important;
    height: auto !important;
}
