/* Global Stuff +=- */


#cart-strip {
    width: min(1000px, 90vw);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* -+= Header Stuff +=- */

#cart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cart-header h1 {
    flex-grow: 1;
    color: var(--clr-light-a0);
}

#cart-header a {
    padding: 25px;
    background-color: var(--clr-primary-a0);
    color: var(--clr-light-a0);
    border-radius: 50px;
}
#cart-header a:hover {
    background-color: var(--clr-primary-a50);
}


/* -+= Cart Items +=- */

#cart-items {
    width: 100%;
    background-color: var(--clr-primary-a0);
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    width: 100%;
    height: 100px;
    /* background-color: bisque; */
    color: var(--clr-light-a0);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.cart-item img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.cart-item-description {
    text-decoration: none;
}

.cart-item-description:hover {
    text-decoration: underline;
}


.product-counter {
    /* background-color: aquamarine; */
    display: flex;
    height: fit-content;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--clr-light-a0);
}

.product-counter * {
    display: block;
    height: 2rem;
    aspect-ratio: 1;

    text-align: center;
    font-size: 1.5rem;
}

.product-counter *:nth-child(2) {
    border-left: 1px solid var(--clr-light-a0);
    border-right: 1px solid var(--clr-light-a0);
}

.cart-item-description {
    flex-grow: 1;
}

.cart-item-remove {
    /* margin-right: 25px; */
    aspect-ratio: 1;
    text-align: center;
    font-size: 25px;
}

.cart-item-remove:hover {
    color: var(--clr-danger-a0);
}