/* Global Stuff */


/* Header Stuff */


/* Cart Items */

#cart-items {
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    width: 100%;
    height: 100px;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cart-item img {
    height: 100%;
    aspect-ratio: 1/1;
}

.cart-item-description {
    flex-grow: 1;
}