
#product-strip {
    --product-padding: 50px;
    /* background-color: aqua; */
    width: min(90vw, 1000px);
    margin-inline: auto;
    padding-top: var(--product-padding);
    padding-bottom: var(--product-padding);
    color: white;
}

/* h2 {
    width: min(90vw, 1000px);
    margin-inline: auto;
    } */

#product-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--product-padding));
}

#product-img {
    background-color: white;
    width: 100%;
    aspect-ratio: 1;
    /* border-radius: var(--img-radius); */
    border-radius: 100%;
}

#product-top,
#product-desc,
#products {
    margin-bottom: var(--product-padding);
}


#product-cart {
    background-color: aqua;
}




#product-desc {
    line-height: 2rem;
}


/* #product-review {
    background-color: var(--clr-primary-a50);
    color: var(--clr-dark-a0);
    padding: 10px;
} */

#product-review-subdiv {
    /* border: 1px red solid; */
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review {
    background-color: var(--clr-primary-a10);
    /* border: 1px blue solid; */
    padding-inline: 10px;
    border-radius: 10px;
    color: var(--clr-dark-a0);
}

.review div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


#product-more {
    width: min(90vw, 1000px);
    margin-inline: auto;
}

#product-more h2 {
    color: var(--clr-light-a0);
}

#products {
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-x: scroll;
    width: 100%;
}