:root {
    --img-radius: 25px;
}

#shop-strip {
    width: min(1000px, 90vw);
    margin-inline: auto;
}

#shop-strip-header {
    color: var(--clr-light-a0);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop-strip-header h1, #shop-strip-header p {
    width: 100%;
    text-align: center;
}

#shop-strip-header a {
    
    width: min(100%, 250px);
}

#shop-strip-header img {
    width: 100%;
    margin-inline: auto;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

    --card-height: 300px;
    --card-title-height: 50px;
}

.product-card {
    position: relative;
    flex-basis: calc(33% - 10px);
    width: var(--card-height);
    aspect-ratio: 4/3;
    overflow: hidden;

    background-size: cover;
    background-position: 50% 50%;
}

.product-title {
    height: var(--card-title-height);
    /* overflow: hidden; */
    /* background-color: aqua; */
}
.product-title h3 {
    line-height: 0;
    padding-top: 0;
    font-size: 1rem;
}
.product-title p {
    font-size: .75rem;
    line-height: 0.25rem;
}

/* .product-price {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
} */

.product-desc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(100% - var(--card-title-height));
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.582);
    backdrop-filter: blur(5px);
    transition: top 0.5s;

    padding: 5px;
}

.product-desc a {
    position: absolute;
    bottom: 5px;
    left: 5px;

    line-height: var(--card-title-height);
    padding-left: 5px;
    vertical-align: middle;

    width: calc(100% - var(--card-title-height)*2);
    height: var(--card-title-height);
    border-radius: 5px;
    background-color: brown;
}

.product-card:hover .product-desc {
    top: 0;
}

.product-cart {
    width: var(--card-title-height);
    height: var(--card-title-height);
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: aquamarine;
    z-index: 3;
}

.product-cart:hover {
    background-color: bisque;
}
